body { 
  background: url(1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bottom{
	position: absolute;
	bottom: 100px;
	left: 400px;
	font-size: 24px;
}
a{
	color: #CF000F;
}
#hidden{
	display: none;
}
*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
@media (max-width: 768px) {
  body {
    background-size: 100%;
  }
  #bottom{
  	bottom: 10px;
  	left: 0;
  	font-size: 18px;
  }
  #hidden{
  	display: block;
  	font-size: 24px;
  	margin-top: 100px;
  	font-family: sans-serif;
  	color: #00B16A;
  }
}